
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sedan:ital@0;1&display=swap');

:root {
    --c-bg00:rgba(1, 0, 7);
    --c-bg0-3:rgba(1, 0, 7,0.3);
    --c-main:rgb(21, 18, 31);
    --c-txt:white;
    --c-blue:rgb(143, 229, 255);
    --c-green:rgb(101, 255, 183);
    --c-yellow:rgb(255, 229, 144);
    --c-red:rgb(255, 150, 168);
}
body {
    margin:0;
    background-color:var(--c-main);
    background-image:url("./img/cloud-resized.png");
    background-size:cover;
    background-position:center;
}

.Stars {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
    user-select:none;
    z-index:5000;
    background-image:url("./img/stars-nebulaeless.png");
    mask-image:radial-gradient(ellipse at center, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
    background-size:15%;
    opacity:0.3;
    filter:drop-shadow(0 0 2px white);
  }
.Vignette {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    pointer-events:none;
    user-select:none;
    z-index:5000;
    background-image:radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, var(--c-bg00) 100%);
}
* {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-size:32px;
    color:var(--c-txt);
}
.lexend span, .lexend br, .lexend p {
    font-family: "Lexend", sans-serif;
    font-size:0.8em;
}
body .smallHeader {
    font-size:0.5em;
    font-weight:bold;
    text-decoration:underline;
    overflow:hidden;
}
.bg {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100vw;
    height:100vh;
}
.Content {
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
}
.Top {
    height:200px;
    backdrop-filter:blur(10px);
    display:flex;
    align-items:center;
    justify-content:center;
    column-gap:50px;
    opacity:1;
    transition:1s opacity;
}
.Top.state-hidden {
    opacity:0;
}
.Middle {
    height:calc(100vh - 400px);
    overflow-y:scroll;
    backdrop-filter:blur(5px);
    width:100%;
    padding:0 calc(12.5% + 25px);
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column-reverse;
    background:linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--c-bg0-3) 35%, var(--c-bg0-3) 65%, rgba(0,0,0,0) 90%);
    text-shadow:0 0 7px rgba(255,255,255,0.5);
    mask-image:linear-gradient(0deg, rgba(0,0,0,0) 0%, black 5%, black 95%, rgba(0,0,0,0) 100%);
}
.Middle > p {
    margin:10px 0;
}
.Middle > *:first-child {
    margin-bottom:100px;
}
.Bottom {
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(10px);
}
.Choices {
    display:flex;
}
.Choices > div {
    padding:10px 30px;
    margin:10px;
    border:2px solid var(--c-txt);
    user-select:none;
}
.Choices > div:hover {
    background-color:var(--c-txt);
}
.Choices > div:hover * {
    color:var(--c-main);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
    background:transparent; 
}
::-webkit-scrollbar-thumb {
    background:white; 
    border-radius:100px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(209, 209, 209);
}
.effect-chrome {
    filter:drop-shadow(3px 2px 1px rgba(255, 0, 64 ,0.8)) drop-shadow(-2px -1px 1px rgba(0, 26, 255, 0.6));
}
.counter {
    font-weight:bold;
}
@keyframes fadein {
    from {
        opacity:0;
        filter:blur(2px) drop-shadow(6px 4px 3px rgb(255, 0, 64)) drop-shadow(-4px -2px 3px rgb(0, 26, 255));
    } to {
        opacity:1;
        filter:none;
    }
}
span.state-blue, p.state-blue {
    color:var(--c-blue);
}
span.state-green, p.state-green {
    color:var(--c-green);
}
span.state-yellow, p.state-yellow {
    color:var(--c-yellow);
}
span.state-red, p.state-red {
    color:var(--c-red);
}
.land {
    margin-top:30px;
}
.land p {
    margin:0;
}
.land > p {
    text-align:center;
    font-weight:bold;
}
.land-columns {
    display:flex;
    width:100%;
}
.land-leftCol {
    flex-grow:1;
    text-align:right;
    padding-right:10px;
    flex-basis:0;
}
.land-rightCol {
    flex-grow:1;
    text-align:left;
    padding-left:10px;
    flex-basis:0;
}